(edif xmodule
  (edifversion 2 0 0)
  (edifLevel 0)
  (keywordmap (keywordlevel 0))
(status
 (written
  (timeStamp 2020 05 24 06 32 47)
  (program "Vivado" (version "2019.2"))
  (comment "Built on 'Thu Oct 24 18:46:05 MDT 2019'")
  (comment "Built by 'xbuild'")
 )
)
  (Library hdi_primitives
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell GND (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port G (direction OUTPUT))
       )
     )
   )
   (cell VCC (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port P (direction OUTPUT))
       )
     )
   )
   (cell BUFG (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell IBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell OBUF (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I (direction INPUT))
       )
     )
   )
   (cell LUT2 (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port O (direction OUTPUT))
        (port I0 (direction INPUT))
        (port I1 (direction INPUT))
       )
     )
   )
   (cell FDRE (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface 
        (port Q (direction OUTPUT))
        (port C (direction INPUT))
        (port CE (direction INPUT))
        (port D (direction INPUT))
        (port R (direction INPUT))
       )
     )
   )
   (cell INV (celltype GENERIC)
     (view netlist (viewtype NETLIST)
       (interface
         (port I (direction INPUT))
         (port O (direction OUTPUT))
       )
     )
   )
  )
  (Library work
    (edifLevel 0)
    (technology (numberDefinition ))
   (cell xmodule (celltype GENERIC)
     (view xmodule (viewtype NETLIST)
       (interface 
        (port clk (direction INPUT))
        (port inp_a (direction INPUT))
        (port inp_b (direction INPUT))
        (port out_a (direction OUTPUT))
        (port out_b (direction OUTPUT))
       )
       (contents
         (instance GND (viewref netlist (cellref GND (libraryref hdi_primitives))))
         (instance VCC (viewref netlist (cellref VCC (libraryref hdi_primitives))))
         (instance clk_IBUF_BUFG_inst (viewref netlist (cellref BUFG (libraryref hdi_primitives))))
         (instance clk_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance inp_a_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance inp_b_IBUF_inst (viewref netlist (cellref IBUF (libraryref hdi_primitives))))
         (instance out_a_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance out_a_i_1 (viewref netlist (cellref LUT2 (libraryref hdi_primitives)))
           (property INIT (string "4'hE"))
         )
         (instance out_a_reg (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance out_b_OBUF_inst (viewref netlist (cellref OBUF (libraryref hdi_primitives))))
         (instance tmp_a_reg (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (instance tmp_b_reg (viewref netlist (cellref FDRE (libraryref hdi_primitives)))
           (property INIT (string "1'b0"))
         )
         (net (rename &_const0_ "<const0>") (joined
          (portref G (instanceref GND))
          (portref R (instanceref out_a_reg))
          (portref R (instanceref tmp_a_reg))
          (portref R (instanceref tmp_b_reg))
          )
         )
         (net (rename &_const1_ "<const1>") (joined
          (portref CE (instanceref out_a_reg))
          (portref CE (instanceref tmp_a_reg))
          (portref CE (instanceref tmp_b_reg))
          (portref P (instanceref VCC))
          )
         )
         (net clk (joined
          (portref I (instanceref clk_IBUF_inst))
          (portref clk)
          )
         )
         (net clk_IBUF (joined
          (portref I (instanceref clk_IBUF_BUFG_inst))
          (portref O (instanceref clk_IBUF_inst))
          )
         )
         (net clk_IBUF_BUFG (joined
          (portref C (instanceref out_a_reg))
          (portref C (instanceref tmp_a_reg))
          (portref C (instanceref tmp_b_reg))
          (portref O (instanceref clk_IBUF_BUFG_inst))
          )
         )
         (net inp_a (joined
          (portref I (instanceref inp_a_IBUF_inst))
          (portref inp_a)
          )
         )
         (net inp_a_IBUF (joined
          (portref D (instanceref tmp_a_reg))
          (portref O (instanceref inp_a_IBUF_inst))
          )
         )
         (net inp_b (joined
          (portref I (instanceref inp_b_IBUF_inst))
          (portref inp_b)
          )
         )
         (net inp_b_IBUF (joined
          (portref D (instanceref tmp_b_reg))
          (portref O (instanceref inp_b_IBUF_inst))
          )
         )
         (net or_result (joined
          (portref D (instanceref out_a_reg))
          (portref O (instanceref out_a_i_1))
          )
         )
         (net out_a (joined
          (portref O (instanceref out_a_OBUF_inst))
          (portref out_a)
          )
         )
         (net out_b (joined
          (portref O (instanceref out_b_OBUF_inst))
          (portref out_b)
          )
         )
         (net out_b_OBUF (joined
          (portref I (instanceref out_a_OBUF_inst))
          (portref I (instanceref out_b_OBUF_inst))
          (portref Q (instanceref out_a_reg))
          )
         )
         (net tmp_a (joined
          (portref I0 (instanceref out_a_i_1))
          (portref Q (instanceref tmp_a_reg))
          )
         )
         (net tmp_b (joined
          (portref I1 (instanceref out_a_i_1))
          (portref Q (instanceref tmp_b_reg))
          )
         )
       )
     )
   )
  )
(comment "Reference To The Cell Of Highest Level")

  (design xmodule
    (cellref xmodule (libraryref work))
    (property XLNX_PROJ_DIR (string "H:/Bachelor/Design Automation/HW4/Programming/Problem44"))
    (property part (string "xc7k325tffg900-2"))
  )
)
